<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052856759540-ohbchl2c4g50qla9gt43fcgif92knjlm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052856759540-ohbchl2c4g50qla9gt43fcgif92knjlm</string>
	<key>API_KEY</key>
	<string>AIzaSyBPwAY6CA6FMaRbLdrOL_f-v6MiLKfckVE</string>
	<key>GCM_SENDER_ID</key>
	<string>1052856759540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.WineApp</string>
	<key>PROJECT_ID</key>
	<string>wineapp-320016</string>
	<key>STORAGE_BUCKET</key>
	<string>wineapp-320016.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052856759540:ios:e3996704e3e81900011aa1</string>
</dict>
</plist>